@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');

body {

    font-family: sans-serif;
    background-image: linear-gradient(-45deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    min-height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.gallery-item {
    padding: 1.25rem;
    background-color: rgba(255, 255, 255, 0.377);
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
    flex-basis: calc(100% / 3 - 2rem);
}

.gallery-item__text {
    font-family: 'Antonio', sans-serif;
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    padding-top: 1rem;
    text-align: center;
}

.gallery-item .gallery-item__img {
    height: 250px;

}

.gallery-item .gallery-item__img img {
    border-radius: .3rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 350px) {
    .gallery {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 435px) {
    .gallery-item{
    flex-basis: calc(100% / 2 - 2rem);
    }
    .gallery {
        display: flex;
    }
}

/* .had {
    display: block;
    position: fixed;
    right: 0%;
    bottom: 0;
    
} */